body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-container {
    background-image: url('IMG/fundo.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; 
}

.TextoSuperior{
    text-align: center;
    
}