body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('IMG/fundo2.jpg.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh;
}

.imagem-filme {
  max-width: 200px;
  border: 1px solid #3498db;
}

.filme-container {
  height: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.sinopse {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}






.sinopse h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.sinopse .tags {
  margin-top: 5px;
}

.sinopse .tag {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #3498db;
}

.slick-prev:hover,
.slick-next:hover {
    color: #2184d0;
}

.episodios-carousel {
  width: 80%; /* Largura do carrossel */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.episodio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 10%; /* Transforma em círculo */
  height: 200px; /* Aumenta a altura e largura */
  width: 200px;
  padding: 50px;
  margin: 50px;
  font-size: 25 px;
}
/* ... Seus estilos CSS existentes ... */

.avaliacao {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* ... Seus estilos CSS existentes ... */

.avaliacao {
  /* Posicione a avaliação abaixo do post */
  margin-top: 10px;
}

/* Ajuste a posição vertical das estrelas */
.estrelas {
  display: inline-block;
  font-size: 30px;
}

/* Restante do seu CSS... */


.episodio {
  position: relative; 
}

.avaliacao {
  bottom: 10px;
  top: auto;
  transform: none; 
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-image: url('caminho-da-imagem-de-fundo.jpg');
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alinhe verticalmente */
}

.fechar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.player-icon img {
  width: 100px; /* Ajuste o tamanho do ícone conforme necessário */
  height: 100px;
  /* Adicione outros estilos, se necessário */
}

/* ... Outros estilos ... */
